/* App.css */
.app {
    display: flex;
  }
  
  .textarea {
    flex: 1;
    height: 100vh;
    padding: 20px;
  }
  
  .preview {
    flex: 1;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
  }
  
  
  